<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        TWTODOS -
        <th:block th:unless="${todo.id}">nova</th:block>
        <th:block th:if="${todo.id}">editar</th:block>
        tarefa
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-dark mb-4" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">TWTodos</a>
    </div>
</nav>
<main class="container">
    <h1>
        <spam th:unless="${todo.id}">NOVA</spam>
        <spam th:if="${todo.id}">EDITAR</spam>
        TAREFA</h1>
    <form method="POST" th:object="${todo}">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label for="title" class="form-label"> Título</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" >
            <ul>
                <li th:each="error: ${#fields.errors('title')}" th:text="${error}" class="text-danger"></li>
            </ul>

            <label for="deadLine" class="form-label"> Data de entrega</label>
            <input type="date" class="form-control" id="deadLine" th:field="*{deadLine}">
            <ul>
                <li th:each="error: ${#fields.errors('deadLine')}" th:text="${error}" class="text-danger"></li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary"> Salvar </button>
    </form>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>